@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
  background-color: #050505;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.user-location {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 6px;
}

.user-location .spinner {
    width: 6px;
    height: 6px;
    border: 4px solid rgba(255, 255, 255, 0.2); 
    border-top: 4px solid white; 
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
    margin: 8.5px;
}
  
.user-location .spinner-icon {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  background-color: #0E1218;
}

.title {
  color: white;
}

.title span {
  color: #007bff;
}

.title:hover {
  cursor: pointer;
}

.site-config {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 10px;
  align-self: center;
}
  

.currency, .theme-switcher, .profile {
  font-size: 16px;
  background-color: transparent;
  color: white;
  width: 50px;
  padding: 15px 5px;
  border: none;
  border-radius: 5px;
}

.currency:hover, .theme-switcher:hover, .profile:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.currency-menu {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 60%;
  max-width: 500px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.currency-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.currency-menu-disc {
  margin: 0;
  font-weight: bold;
  color: black;
}

.currency-menu-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
}

.modal-overlay.show .currency-menu {
  transform: translateY(0);
  opacity: 1;
}

.currency-menu-item {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  text-align: left;
  transition: 0.2s ease;
  border: 1px solid #ddd;
}

.currency-disc {
  color: #888;
  font-size: 10px;
  margin-left: 5px;
}

.currency-menu-item:hover {
  background-color: #e7f3ff;
  color: #007bff;
  transform: scale(1.05);
}

.currency-menu-item.active {
  border-color: #007bff;
  color: #007bff;
  font-weight: bold;
}

.hotel-search {
  display: flex;
  position: relative;
  align-self: center;
  gap: 5px;
  left: -20px;
}

.hotel-search #input-icon {
  position: absolute;
  left: 10px;
  top: 48%;
  transform: translateY(-50%);
  color: black;
  font-size: 18px;
}

.search-input,
.checkin-checkout,
.booking-details-btn,
.search,
.hotels-list-search,
.registration-item input,
.signin-item input {
  background-color: #fff;
  padding: 15px 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-size: 16px;
  color: #333;
  outline: none;
}

.search-input:hover,
.checkin-checkout:hover,
.booking-details-btn:hover,
.hotels-list-search:hover,
.search:hover {
  border-color: #007bff;
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
}

.search-input:focus,
.registration-item input:focus,
.signin-item input:focus,
.hotels-list-search:focus,
.checkin-checkout.focus,
.booking-details-btn.focus {
  border-color: #0056b3;
  box-shadow: 0 4px 15px rgba(0, 86, 179, 0.4);
}

.search-input {
  padding-left: 30px;
}

.search-suggestions-header {
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.search-suggestions {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 300px; 
  display: none; 
  z-index: 10;
  transition: opacity 0.3s ease;
  padding-bottom: 5px;
}
  
.search-suggestions.show {
  display: block;  
}
  
.suggestions-item {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
  
.suggestions-item i {
  margin-right: 8px;
  color: #007BFF; 
}
  
.suggestions-item:hover {
  background-color: #f0f0f0;
  color: #007BFF; 
}

.calendar-popup {
    position: absolute;
    top: 100%;
    left: 240px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 10;
    width: 600px; 
    max-height: 350px;
    display: none;
    transition: opacity 0.3s ease;
}

.calendar-popup.show {
    display: block;
}

.two-months-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.month {
    width: 48%;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.month-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%; 
}

.month-header button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.month-header button:disabled {
  cursor: default;
}

.month-header h3 {
    flex: 1; 
    text-align: center;
    margin: 0;
}
  

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    padding: 8px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    text-align: center;
}

.day:hover {
    background: rgba(128, 128, 128, 0.1);
}

.day.selected {
    background: #007BFF;
    color: #fff;
    font-weight: bold;
}

.day.in-range {
    background: #a0c4ff;
    color: #fff;
}

.day.inactive {
    background: transparent;
    color: #ccc;
    pointer-events: none;
  }
  

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.calendar-popup.show {
    animation: fadeIn 0.3s ease forwards;
}

.booking-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    width: 280px;
    position: absolute;
    top: 100%;
    right: -20px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.booking-details.show {
    opacity: 1;
    visibility: visible;
}

.booking-details .plus, .booking-details .minus {
  border: none;
}

.booking-details .plus, .booking-details .minus {
  width: 30px;
  height: 25px;
  background-color: transparent;
  color: #007bff;
  cursor: pointer;
}

.booking-details .plus:disabled, .booking-details .minus:disabled {
  color: #ccc;
  cursor: default;
}


.booking-details-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.details-btns-container {
  display: flex;
  border: 1px, solid, rgba(128, 128, 128, 0.4);
  position: relative;
}

.details-input {
  border: none;
  width: 25px;
  outline: none; 
  pointer-events: none;
  padding-left: 12px;
}

.booking-details .ready {
  border: 1px, solid, #007bff;
  background-color: #fff;
  color: #007bff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.booking-details .ready:hover {
  background-color: #a0c4ff;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title, .discount-title, .travel-blog-title {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 24px;
  padding-right: 135px;
}

.home-title span {
  font-size: 18px;
}

.popular-searches, .new-user-discount, .site-disc, .travel-blog, .hotels-items {
  background-color: #0E1218;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 5px;
  color: #fff;
  margin-left: 70px;
  width: 740px;
}

.popular-title {
  font-size: 24px;
  padding-left: 25px;
}

.popular-searches-container {
  display: flex;
  gap: 10px;
  max-width: 650px;
  padding: 10px;
  padding-left: 25px;
  margin: 0;
  position: relative; 
}

.popular-searches-item {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 170px;
  height: 250px;
  color: black;
}

.popular-searches-item:hover {
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.popular-city-image {
  width: 160px;
  height: 170px;
  border-radius: 10px 10px 0 0;
}

.nextCity, .prevCity, .nextArticle, .prevArticle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none; 
  font-size: 2rem;
  color: white;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.nextCity {
  right: -40px;
}

.prevCity {
  left: -5px;
}

.nextCity:hover, .prevCity:hover, .nextArticle:hover, .prevArticle:hover {
  color: rgba(255, 255, 255, 0.9);
}

.nextCity:disabled, .prevCity:disabled, .nextArticle:disabled, .prevArticle:disabled {
  color: transparent;
  cursor: default;
}

.popular-city-disc {
  padding-left: 5px;
}

.popular-city-title {
  font-weight: bold;
  margin: 0;
}

.popular-city-hotels-info {
  margin-top: 5px;
}

.popular-city-hotels-count, .popular-city-hotels-price {
  font-weight: bold;
  margin: 0;
  font-size: 14px;
}

.popular-city-hotels-count span, .popular-city-hotels-price span {
  font-size: 12px;
  font-weight: normal;
}

.popular-city-disc .spinner {
  width: 8px;
  height: 8px;
  border: 4px solid rgba(255, 255, 255, 0.2); 
  border-top: 4px solid black; 
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
  margin: 8px;
}

.popular-city-disc .spinner-icon {
  display: none;
}

.discount-title {
  padding-right: 370px;
}

.new-user-discount {
  position: relative;
}

.discount-logo {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 80px;
  height: 80px;
}

.new-user-discount-disc {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding-left: 25px;
  gap: 5px;
}

.new-user-discount span {
  font-weight: normal;
  font-size: 14px;
}

.new-user-discount-btns {
  display: flex;
  padding-left: 25px;
  gap: 10px;
  margin-bottom: 16px;
}

.new-user-discount-sign-in, .new-user-discount-register {
  border: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.new-user-discount-register {
  border: 1px, solid, #007bff;
  background-color: #fff;
  color: #007bff;
}

.new-user-discount-sign-in:hover {
  background-color: #015dc0;
}

.new-user-discount-register:hover {
  background-color: #a0c4ff;
}

.site-disc {
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  padding-left: 5px;
  padding-top: 50px;
  padding-bottom: 80px;
  gap: 5px;
}

.site-disc-item {
  width: 220px;
}

.site-disc-item h1 {
  font-size: 16px;
}

.site-disc-item p {
  font-size: 14px;
}

.site-disc-item-image {
  width: 35px;
  height: 35px;
}

.travel-blog-title {
  padding-right: 150px;
}

.travel-container-title {
  font-size: 24px;
  padding-left: 25px;
}

.travel-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  padding-left: 25px;
  margin: 0;
  position: relative;
}

.travel-item {
  display: none;
}

.travel-item.show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F8F8F8;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 330px;
  height: 300px;
  padding-bottom: 10px;
}

.travel-item:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.travel-image {
  width: 330px;
  height: 180px;
  border-radius: 10px 10px 0 0;
}

.travel-title {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.travel-disc {  
  font-size: 12px;
  color: #666;
  line-height: 1.4;
}

.travel-source {
  font-size: 14px;
  font-weight: 500;
  color: #007bff;
  align-self: start;
}

.travel-title, .travel-disc, .travel-source {
  padding-left: 5px;
}

.nextArticle {
  right: 15px;
}

.prevArticle {
  left: -5px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #141414;
  padding: 30px 20px;
}

.footer-header, .footer-credits, .footer-contacts, .footer-btns {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-contacts {
  gap: 5px;
}

.footer-title, .credits-title, .contacts-title, .btns-title {
  font-size: 24px;
  margin: 0;
  color: white
}

.footer-title span {
  color: #007bff;
}

.footer-slogan, .footer-rights, .credits-disc {
  font-size: 12px;
  font-weight: 500;
  color: #666;
}

.hexlet-logo {
  position: relative;
  top: -6px;
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.hexlet-url {
  font-size: 12px;
  color: #007bff;
  width: 25px;
  font-weight: 500;
  text-decoration: none;
}

.contacts-item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: white;
}

.contacts-item p {
  margin: 0;
  padding: 0;
}

.contacts-item p i {
  color: #007bff;
}

.contacts-item span {
  color: #666;
}

.github, .amadeus-api, .exchangerate-api {
  font-size: 12px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #181818;
}

.github i, .amadeus-api i, .exchangerate-api i {
  font-size: 16px;
}

.github:hover, .amadeus-api:hover, .exchangerate-api:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.scroll-to-top {
  position: fixed;
  bottom: 270px;
  right: 20px;
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.scroll-to-top:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.registration-form, .signin-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 60%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.registration-title, .signin-title {
  font-size: 24px;
  align-self: center;
}

.registration-item, .signin-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.registration-item span, .signin-item span {
  padding-left: 5px;
  font-size: 14px;
}

.registration-item input, .signin-item input, .hotels-list-search {
  padding: 10px 10px;
  font-size: 14px;
  flex: 1
}

.registration-confirm, .signin-confirm {
  border: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  margin-top: 32px;
}

.registration-confirm:hover, .signin-confirm:hover {
  background-color: #015dc0;
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.show-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  background: none;
  border: none;
  outline: none;
}

.show-password:disabled {
  display: none;
}

.reg-check {
  padding-top: 20px;
  padding-left: 5px;
  align-self: center;
  font-size: 14px;
}

.reg-check a {
  cursor: pointer;
  color: #007bff;
}

.forget-password {
  width: 120px;
  padding-left: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #007bff;
}

.reg-check a:hover, .forget-password:hover {
  color: #015dc0;
}

.form-error-text {
  padding: 0;
  margin: 0;
  padding-left: 5px;
  font-size: 14px;
  color: rgba(255, 0, 0, 0.753);
}

.registration-item.error input, .signin-item.error input {
  border-color: #cb3a3a;
  box-shadow: 0 4px 15px rgba(0, 86, 179, 0.4);
}

.hotels-page {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hotels-map {
  flex: 1;
  margin-top: 80px;
  height: 100vh;
  position: sticky;
  top: 80px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.hotels-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hotels-found {
  color: white;
  font-size: 18px;
  padding-top: 16px;
  padding-left: 25px;
}

.hotels-items {
  margin-left: 25px;
  margin-bottom: 80px;
}

.hotel-item {
  display: flex;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.hotel-item.active {
  background-color: rgba(255, 255, 255, 0.9);
}

.hotel-item.active .hotel-address i {
  color: red;
}

.hotel-item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
}

.hotel-item:hover .hotel-address i {
  color: red;
}

.hotel-image {
  position: relative;
  width: 200px;
  height: 150px;
}

.hotel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-header {
  padding-bottom: 15px;
}

.hotel-header .hotel-address {
  color: black;
  font-weight: bold;
}

.hotel-address i {
  color: #007BFF;
}

.hotel-title {
  color: black;
  font-size: 18px;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 16px;
  padding-left: 10px;
}

.hotel-info span {
  font-size: 12px;
  color: #666;
  line-height: 1.4;
}

.hotel-info .more-info {
  font-weight: bold;
}

.hotels-list .spinner {
  width: 100px;
  height: 100px;
  border: 12px solid rgba(255, 255, 255, 0.2);
  border-top: 12px solid white;               
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.page-btn {
  padding: 8px 14px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.page-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.page-btn.active {
  background-color: #007BFF;
  color: white;
  border-color: #007BFF;
}

.hotels-list-search-wrapper {
  position: relative;
  display: inline-block;
  padding-left: 10px;
  width: 100%;
}

.hotels-list-search {
  padding: 10px 10px 10px 36px;
  width: 225px;
}

#hotels-list-search-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: black;
  font-size: 18px;
  pointer-events: none;
}

.nothing-found, .page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 5px;
  height: 59vh;
}

.nothing-found h1, .page-not-found h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  gap: 10px;
  font-weight: bold;
}

.nothing-found span {
  font-size: 18px;
}

.nothing-found #nothing-found-icon, .page-not-found #page-not-found-icon {
  font-size: 28px;
  font-weight: bold;
}

.nothing-found button, .page-not-found button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.nothing-found button:hover, .page-not-found button:hover {
  background-color: #015dc0;
}

.hotel-page-info {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 60%;
  display: flex;
  gap: 10px;
}

.hotel-page-name {
  color: #000;
}

.hotel-page-description {
  color: #000
}

.hotel-page-price {
  color: #000
}

.hotel-reserve {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 25px 20px;
  cursor: pointer;
  margin-left: 800px;
}

.hotel-reserve:hover {
  background-color: #015dc0;
}


  